{% extends 'pr1/base.html' %}

{% block title %}
    Authors
{% endblock %}

{% block content %}
<h1 style="color:#000000" class="text-center mt-3">
    Все автора песен</h1>

<div class="row mb-2">
    <div class="col-12 mt-3">
        <div class="col-1">
            <h2 class="text-center"><a style="color:#000000">{{ author }}</a></h2>
        </div>
        <div class="row mt-3">
            {% for author in object_list %}
            <div class="col-3 mt-3">
                <a href="{{ author.get_absolute_url }}">
                <img src="{{ author.portrait.url }}"
                     width="250" height="250" class="passe-partout">
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="col-10 mt-5"></div>
    </div>
</div>

{% endblock %}

