{% extends 'pr1/base.html' %}

{% block title %}
    Authors
{% endblock %}

{% block content %}
<div class="content" style="opacity: .9">
    <h1 style="color:#000000" class="text-center mt-3">
    Вот что удалось найти: {{ search }}</h1>
    {% for music in musics %}
        <div class="row" style="background: #A9A9A9">
            <div class="col-3" style="right: 20px">
                <a href="{{ music.get_absolute_url }}">
                    <img src="{{ music.poster.url }}"
                        width="100" height="100" class="passe-partout">
                </a>
            </div>
            <div class="col-5">
                <h3 style="font-size: 30px"><a style="color: #000000" href="{{ music.get_absolute_url }}">{{ music }}</a></h3>
            </div>
            <div class="col-2" style="left:50px">
                <h3 style="font-size: 30px">{{ music.year }}</h3>
            </div>
        </div>
    {% endfor %}
    {% for author in authors %}
        <div class="row" style="background: #A9A9A9">
            <div class="col-3" style="right: 20px">
                <a href="{{ author.get_absolute_url }}">
                    <img src="{{ author.portrait.url }}"
                        width="100" height="100" class="passe-partout">
                </a>
            </div>
            <div class="col-7">
                <h3 style="font-size: 30px"><a style="color: #000000" href="{{ author.get_absolute_url }}">{{ author }}</a></h3>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="container">
        <div class="row" style="height:510px"></div>
    </div>
{% endblock %}

